#!/usr/bin/env bash

# ssh
export SSH_KEY_PATH="~/.ssh/id_rsa"

export EDITOR=lvim

export LANG=en_US.UTF-8


# Golang
export GOPATH=$HOME/go
export GOROOT=/opt/homebrew/opt/go/libexec

export PATH="/opt/homebrew/bin:$PATH"
export PATH=$PATH:$GOPATH/bin
export PATH=$PATH:$GOROOT/bin
export PATH=$PATH:$HOME/.local/bin
export PATH=$PATH:$HOME/.cargo/bin

export NVM_BIN="/opt/homebrew/bin/node"
